@model NCPAC_LambdaX.Models.ActionItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActionItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionItemTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionItemTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MeetingTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeAppointed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeAppointed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeUntil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.ActionItemDocuments)
        </dt>
        <dd class="col-md-9">
            @{
                int fileCount = Model.ActionItemDocuments.Count;
                if (fileCount > 0)
                {
                    var firstFile = Model.ActionItemDocuments.FirstOrDefault(); ;
                    if (fileCount > 1)
                    {
                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(Model.ID)"
                   aria-expanded="false" aria-controls="collapseDocs@(Model.ID)">
                            Uploaded Files <span class="badge bg-info">@fileCount</span>
                        </a>
                        <div class="collapse" id="collapseDocs@(Model.ID)">
                            @{
                                foreach (var d in Model.ActionItemDocuments)
                                {
                                    <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                    }
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
