@model NCPAC_LambdaX.Models.ActionItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ActionItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ActionItemTitle" class="control-label"></label>
                <input asp-for="ActionItemTitle" class="form-control" />
                <span asp-validation-for="ActionItemTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingID" class="control-label"></label>
                <select class="form-control" id="MeetingID" name="MeetingID" asp-items="ViewBag.MeetingID">
                </select>
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <select class="form-control" id="MemberID" name="MemberID" asp-items="ViewBag.MemberID">
                </select>
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeAppointed" class="control-label"></label>
                <input asp-for="TimeAppointed" class="form-control" />
                <span asp-validation-for="TimeAppointed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeUntil" class="control-label"></label>
                <input asp-for="TimeUntil" class="form-control" />
                <span asp-validation-for="TimeUntil" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check form-switch">
                <label asp-for="IsCompleted" class="control-label"></label>
                <input asp-for="IsCompleted" class="form-check-input" />
                <span asp-validation-for="IsCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Current Documents:</label>
                <div class="ml-md-3">
                    @{
                        int fileCount = Model.ActionItemDocuments.Count;
                        if (fileCount > 0)
                        {
                            var firstFile = Model.ActionItemDocuments.FirstOrDefault(); ;
                            if (fileCount > 1)
                            {
                                <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(Model.ID)" aria-expanded="false" aria-controls="collapseDocs@(Model.ID)">
                                    Uploaded Files <span class="badge bg-info">@fileCount</span>
                                </a>
                                <div class="collapse" id="collapseDocs@(Model.ID)">
                                    @{
                                        foreach (var d in Model.ActionItemDocuments)
                                        {
                                            <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                            }
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Upload Additional Documents:</label>
                <input type="file" class="form-control" name="theFiles" multiple="multiple">
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/multiselect.js"></script>
    <script src="~/js/refreshDDL.js"></script>
}