@model IEnumerable<NCPAC_LambdaX.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h1>All Meetings</h1>

<p>
    <a asp-action="DownloadMeetings" class="btn btn-info float-end">Download Meetings Report</a>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    
</p>

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse" @(ViewData["Filtering"]) id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Search By Title:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Commitee:</label>
                        @Html.DropDownList("CommiteeID", null, "All Commitees", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label class="control-label">Show Completed Meetings:</label><br />
                            @Html.CheckBox("ShowCompleted", false, htmlAttributes: new { @class="checkbox" })
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label">Show Canceled Meetings:</label><br />
                            @Html.CheckBox("ShowCanceled", false, htmlAttributes: new { @class="checkbox" })
                        </div>
                        <div class="form-group col-md-2 align-self-end">
                            <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-secondary">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid d-block d-md-none">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card mb-sm-3" style="min-width: 18rem;">
                    <h5 class="card-header"><strong>@Html.DisplayFor(modelItem => item.MeetingTitle)</strong></h5>
                    <div class="card-body">
                        <figcaption class="col">
                            <p class="card-text">
                                <dl class="row lh-1">
                                    <dt class="col-8">
                                        @Html.DisplayNameFor(model => item.MeetingLink)
                                    </dt>
                                    <dd class="col-4 text-truncate">
                                        @Html.DisplayFor(model => item.MeetingLink)
                                    </dd>
                                    <dt class="col-8">
                                        @Html.DisplayNameFor(model => item.TimeFrom)
                                    </dt>
                                    <dd class="col-4 text-truncate">
                                        @Html.DisplayFor(model => item.TimeFrom)
                                    </dd>
                                    <dt class="col-8">
                                        @Html.DisplayNameFor(model => item.TimeTo)
                                    </dt>
                                    <dd class="col-4 text-truncate">
                                        @Html.DisplayFor(model => item.TimeTo)
                                    </dd>
                                    <dt class="col-8">
                                        @Html.DisplayNameFor(model => item.MeetingCommitees)
                                    </dt>
                                    <dd class="col-4 text-truncate">
                                        @Html.DisplayFor(model => item.MeetingCommitees)
                                    </dd>
                                </dl>
                            </p>
                        </figcaption>

                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="d-none d-lg-block">
<table class="table">
    <thead>
        <tr>
            <th>
                <input type="submit" name="actionButton" value="Meeting" class="btn btn-outline-dark" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingLink)
            </th>
            <th>
                <input type="submit" name="actionButton" value="TimeFrom" class="btn btn-outline-dark" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTo)
            </th>
            <th>
                <label>Commitees(If Specific)</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsArchived)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingTitle)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.MeetingLink)">Click Here</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTo)
            </td>
            <td>
                @{
                    int playCount = item.MeetingCommitees.Count;
                    if (playCount > 0)
                    {
                        string firstPlay = item.MeetingCommitees.FirstOrDefault().Commitee.CommiteeName;
                        if (playCount > 1)
                        {
                            string playList = "";
                            var c = item.MeetingCommitees.ToList();
                            for (int i = 1; i < playCount; i++)//Skip the first because we have it already
                            {
                                playList += c[i].Commitee.CommiteeName + " <br />";
                            }
                            <a class="" role="button" data-bs-toggle="collapse" href="#collapseHistory@(item.ID)"
                    aria-expanded="false" aria-controls="collapseHistory@(item.ID)">
                                @firstPlay <span class="badge bg-info">@playCount</span>
                            </a>
                            <div class="collapse" id="collapseHistory@(item.ID)">
                                @Html.Raw(playList)
                            </div>
                        }
                        else
                        {
                            @firstPlay
                        }
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchived)
            </td>
            <td>                
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> | 
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>  |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
    <partial name="_PagingNavBar" />
</form>

