@model IEnumerable<NCPAC_LambdaX.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h1>All Meetings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTo)
            </th>
            <th>
                <label>Commitee(If Commitee Specific)</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsArchived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingTitle)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.MeetingLink)">Click Here</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commitee.CommiteeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchived)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
