@model NCPAC_LambdaX.ViewModels.MemberAdminVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-20">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salutation" class="control-label"></label>
                <input asp-for="Salutation" class="form-control" />
                <span asp-validation-for="Salutation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceID" class="control-label"></label>
                <select class="form-control" id="ProvinceID" name="ProvinceID" asp-items="ViewBag.ProvinceID">
                    <option id= null>None</option>
                </select>
                <span asp-validation-for="ProvinceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" placeholder="eg: A1A1B1"/>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="eg: example@example.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>            
            </div>
            <div class="col-md-4">            
            <label><b>Work Information</b></label>
            <br />
            <div class="border border-dark" style="padding:2%">
            <div class="form-group">
                <label asp-for="WorkStreetAddress" class="control-label"></label>
                <input asp-for="WorkStreetAddress" class="form-control" />
                <span asp-validation-for="WorkStreetAddress" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="WorkCity" class="control-label"></label>
                <input asp-for="WorkCity" class="form-control" />
                <span asp-validation-for="WorkCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkProvinceID" class="control-label"></label>
                <select class="form-control" id="WorkProvinceID" name="WorkProvinceID" asp-items="ViewBag.WorkProvinceID">
                    <option>None</option>
                </select>
                <span asp-validation-for="WorkProvinceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPostalCode" class="control-label"></label>
                <input asp-for="WorkPostalCode" class="form-control" placeholder="eg: A1A1B1"/>
                <span asp-validation-for="WorkPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhone" class="control-label"></label>
                <input asp-for="WorkPhone" class="form-control" />
                <span asp-validation-for="WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkEmail" class="control-label"></label>
                <input asp-for="WorkEmail" class="form-control" placeholder="eg: example@example.com"/>
                <span asp-validation-for="WorkEmail" class="text-danger"></span>
            </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="MailPrefferenceID" class="control-label"></label>
                <select class="form-control" id="MailPrefferenceID" name="MailPrefferenceID" asp-items="ViewBag.MailPrefferenceID">
                </select>
                <span asp-validation-for="MailPrefferenceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationalSummary" class="control-label"></label>
                @Html.TextAreaFor(model => model.EducationalSummary, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="EducationalSummary" class="text-danger"></span>
            </div>           
            </div> 
            <div class="col-md-4">                             
            <div class="form-group">
                <label asp-for="OccupationalSummary" class="control-label"></label>
                @Html.TextAreaFor(model => model.OccupationalSummary, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="OccupationalSummary" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="DateJoined" class="control-label"></label>
                <input asp-for="DateJoined" class="form-control" />
                <span asp-validation-for="DateJoined" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><b>@Html.DisplayNameFor(model => model.MemberCommitees)</b></label>
                <div class="col-md-offset-1">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<NCPAC_LambdaX.ViewModels.CheckOptionVM> checkboxes = ViewBag.MemberCommiteeOptions;
                                foreach (var checkbox in checkboxes)
                                {
                                    if (cnt++ % 2 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedOptions"
                                               value="@checkbox.ID"
                                               @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                        @checkbox.DisplayText @:&nbsp;&nbsp;
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                
            <div class="form-group">
                <label class="control-label" style="margin-top:3%"><b>@Html.DisplayNameFor(model => model.IsNCGrad)</b> : &nbsp;</label>
                <input asp-for="IsNCGrad" />
                <span asp-validation-for="IsNCGrad" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label class="control-label" style="margin-top:3%"><b>@Html.DisplayNameFor(model => model.IsActive)</b> : &nbsp;</label>
                <input asp-for="IsActive" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div> 
            </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary" style="margin-top:1%">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
