@model NCPAC_LambdaX.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salutation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salutation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkStreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefferedEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefferedEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationalSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNCGrad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNCGrad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationalSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupationalSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commitee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commitee.CommiteeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
