@model IEnumerable<NCPAC_LambdaX.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Members</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrefferedEmail)
            </th>
            <th>
                <label>NC Grad?</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateJoined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberCommitees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                    @{
                        if ((item.Email != null) && (item.WorkEmail != null))
                        {
                            if((item.PrefferedEmail == "Work") || (item.PrefferedEmail == "work"))
                            {
                                @Html.DisplayFor(modelItem => item.WorkEmail)
                            }
                            else if((item.PrefferedEmail == "Personal") || (item.PrefferedEmail == "personal"))
                            {
                                @Html.DisplayFor(modelItem => item.Email)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.WorkEmail)
                            }
                            
                        }
                        else{
                        
                            if ((item.Email == null) && (item.WorkEmail != null))
                            {
                                @Html.DisplayFor(modelItem => item.WorkEmail)
                            }
                            else if ((item.Email != null) && (item.WorkEmail == null))
                            {
                                @Html.DisplayFor(modelItem => item.Email)
                            }
                        }
                     }
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsNCGrad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateJoined)
            </td>
            <td>
                @{
                    int playCount = item.MemberCommitees.Count;
                    if (playCount > 0)
                    {
                        string firstPlay = item.MemberCommitees.FirstOrDefault().Commitee.CommiteeName;
                        if (playCount > 1)
                        {
                            string playList = "";
                            var c = item.MemberCommitees.ToList();
                            for (int i = 1; i < playCount; i++)//Skip the first because we have it already
                            {
                                playList += c[i].Commitee.CommiteeName + " <br />";
                            }
                            <a class="" role="button" data-bs-toggle="collapse" href="#collapseHistory@(item.ID)"
                    aria-expanded="false" aria-controls="collapseHistory@(item.ID)">
                                @firstPlay <span class="badge bg-info">@playCount</span>
                            </a>
                            <div class="collapse" id="collapseHistory@(item.ID)">
                                @Html.Raw(playList)
                            </div>
                        }
                        else
                        {
                            @firstPlay
                        }
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
