@model IEnumerable<NCPAC_LambdaX.Models.Commitee>

@{
    ViewData["Title"] = "Index";
}

<h1>Committees</h1>

<p>
    <a asp-action="DownloadMembers" class="btn btn-info float-end">Download Full Member Commitee Report</a>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse" @(ViewData["Filtering"]) id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Committees:</label>
                        @Html.TextBox("SearchCommitee", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Division:</label>
                        @Html.TextBox("SearchDivision", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-secondary">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="container-fluid d-block d-md-none">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card mb-sm-3" style="min-width: 18rem;">
                    <h5 class="card-header"><strong>@Html.DisplayFor(modelItem => item.CommiteeName)</strong></h5>
                    <div class="card-body">
                        <figcaption class="col">
                            <p class="card-text">
                                <dl class="row lh-1">
                                    <dt class="col-8">
                                        @Html.DisplayNameFor(model => item.Division)
                                    </dt>
                                    <dd class="col-4 text-truncate">
                                        @Html.DisplayFor(model => item.Division)
                                    </dd>
                                </dl>
                            </p>
                        </figcaption>

                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="d-none d-lg-block">

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Commitee" class="btn btn-outline-dark" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Division" class="btn btn-outline-dark" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommiteeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Division)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <partial name="_PagingNavBar" />
</form>
