@model NCPAC_LambdaX.ViewModels.MemberVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <br />
        <label><b><i>Work Information</i></b></label>
        <hr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkPhoneFormatted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationalSummary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationalSummary)
        </dd>
        <hr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MailPrefferenceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MailPrefferenceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalSummary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationalSummary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsNCGrad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNCGrad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberCommitees)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary">Edit</a>
</div>
